<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mauro.figurettisapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/api_key_facebook" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/api_key_twitter" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".NoLogueadoMenu"
            android:label="@string/title_activity_no_logueado_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogueadoMenu"
            android:label="@string/title_activity_logueado_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ayuda"
            android:label="@string/title_activity_ayuda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Figuritas"
            android:label="@string/title_activity_figuritas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".PublicacionesActivity"
            android:label="Publicaciones"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>